<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="PriceBasket.Model" />
    <assembly name="PriceBasket.Main" />
    <assembly name="PriceBasket.DataAccess" />
    <assembly name="PriceBasket.ToConsole" />
    <assembly name="PriceBasket.Common" />
    <namespace name="PriceBasket.Model.Models" />
    <namespace name="PriceBasket.DataAccess.Repositories" />
    <namespace name="PriceBasket.ToConsole" />
    <namespace name="PriceBasket.Common.Interfaces" />
    <namespace name="PriceBasket.Main" />
    <container>
      <register type="IGenerateReceipt" mapTo="BasketToConsole" />
      <register type="IBasket" mapTo="Basket" />
      <register type="IProductRepository" mapTo="ProductRepository" />
    </container>
  </unity>
</configuration>